body{
  background-color: black;
  color: white;
}
*{
  margin: 0;
  padding: 0;
}
li a{
  color:white;
  text-decoration-line: none;
  cursor: pointer;
}
li  {
  color: white;
  text-decoration-line: none;
  list-style-type: none;
  margin: 0px 12px ;
  letter-spacing: 0.5px ;
  font-family: "Inter", "Roboto", "Helvetica Neue", Arial, sans-serif;
  font-size: 1.7rem;
  position: relative;

}
ul{
  margin: 28px 12px ;
  display: flex;
  justify-content: center;
  gap:1.7rem;
}
.nav{
  background-color: #00da9caf;
  color: whitesmoke;
  padding: 5px;
  display: flex;
  justify-content: space-between;

}
li:hover::after{
  width: 100%;
}
.underline{
   text-decoration: underline;
   text-decoration-thickness: 2px;
   text-decoration-color:  whitesmoke;
   text-underline-offset: 13px;
}
li::after{
  content: "";
  height: 2.5px;
  position: absolute;
  width: 0;
  bottom: -4px;
  left: 0;
  background-color: white;
  transition: width 0.4s ease-in-out;
}
